import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import java.security.Permission;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.security.BasicProxyPreparer;

com.sun.jini.mahalo {
	
    initialLookupGroups = new String[] {$discoveryGroup};
    initialMemberGroups = new String[] {$discoveryGroup};

    serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
                                     new BasicILFactory());

    basicProxyPreparer =
        new BasicProxyPreparer(false, new BasicMethodConstraints(serviceInvocationConstraints),
            new Permission[] { new RuntimePermission("accessClassInPackage.com.sun.proxy") } );

    recoveredParticipantPreparer = basicProxyPreparer;
    participantPreparer = basicProxyPreparer;
    lookupLocatorPreparer = basicProxyPreparer;
    recoveredLookupLocatorPreparer = basicProxyPreparer;

}
