import java.security.Permission;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.security.BasicProxyPreparer;

com.sun.jini.example.browser {
	
    initialLookupGroups = new String[] {$discoveryGroup};
    initialMemberGroups = new String[] {$discoveryGroup};

    serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
                                     new BasicILFactory());

    serviceInvocationConstraints=InvocationConstraints.EMPTY;
        
    servicePreparer = 
        new BasicProxyPreparer(true, new BasicMethodConstraints(serviceInvocationConstraints),
            new Permission[] { new RuntimePermission("accessClassInPackage.com.sun.proxy") } );
}
